@media only screen and (max-width: 357px) {
    .top-header-title h4 {
        font-size: 14px;
        font-weight: 400;
    }
    .brand-top-text h6 {
        max-width: 35% !important;
    }
    .brand-header {
        margin: 20px 0;
    }
    .brand-logo {
        margin-bottom: 15px;
    }
    .brand-under-text h6 {
        font-size: 14px;
        max-width: 38% !important;
    }
    .brand-logo img {
        width: 25%;
    }
    .about-wraper h2 {
        font-size: 18px;
        letter-spacing: 5px;
        margin-bottom: 35px;
    }
    .text-area p {
        max-width: 94% !important;
        margin: 5px 0px 15px 10px !important;
    }
    .shop-btn {
        margin: 40px 0 60px;
    }
    .shop-btn a {
        padding: 12px 90px;
        letter-spacing: 2px;
    }
    .mission-wrapper p {
        max-width: 90%;
        margin: 0 auto 50px;
    }
    .brand-wrapper h3 {
        margin: 40px 0;
    }
    .brand-wrapper p {
        max-width: 90%;
        margin: 0 auto 40px;
    }
    .brand-btn a {
        font-size: 12px;
        letter-spacing: 2px;
        padding: 12px 55px !important;
    }
    .brand-gallary-two img {
        width: 55%;
    }
    .brand-gallary-two img:first-child {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .brand-section {
        margin-bottom: 50px;
    }
    .footer img {
        width: 20%;
    }
}

    /* 1. end of max width 380
----------------------------------------------------------------------------
============================================================================*/

@media only screen and (max-width: 380px) {
    .brand-top-text h6 {
        max-width: 33%;
    }
    .brand-logo img {
        width: 25%;
    }
    .brand-under-text h6 {
        max-width: 36%;
        margin-top: 10px;
    }
    .brand-wrap span {
        margin: 20px auto;
    }
    .about-wraper h2 {
        font-size: 20px;
        letter-spacing: 5px;
    }
    .text-area p {
        max-width: 90%;
        margin: 5px auto 15px;
    }
    .shop-btn a {
        font-weight: 600;
        font-size: 12px;
        padding: 10px 55px;
    }
    .shop-btn {
        margin: 45px 0 60px;
    }
    .mission-wrapper h3 {
        margin: 40px 0;
        font-size: 20px;
    }
    .mission-wrapper p {
        max-width: 90%;
        margin: 0 auto 60px;
    }
    .brand-wrapper h3 {
        margin: 40px 0;
        font-size: 20px;
    }
    .brand-wrapper p {
        max-width: 93%;
        margin: 0 auto 40px;
    }
    .brand-section {
        margin-bottom: 60px;
    }
    .brand-btn a {
        padding: 10px 50px;
        font-size: 12px;
    }
    .brand-gallary-two img:first-child {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .brand-gallary-two img {
        width: 55%;
    }
    .footer img {
        width: 20%;
    }
}

    /* 1. end of max width 380
----------------------------------------------------------------------------
============================================================================*/

@media only screen and (min-width: 380px) {
    
}

    /* 2. end of min width 380
----------------------------------------------------------------------------
============================================================================*/

@media only screen and (min-width: 576px) {
    .brand-top-text h6 {
        max-width: 23%;
    }
    .brand-logo img {
        width: 20%;
    }
    .brand-under-text h6 {
        max-width: 25%;
    }
    .brand-wrap span {
        margin: 20px auto;
    }
    .shop-btn a {
        padding: 10px 70px;
    }
    .about-wraper h2 {
        font-size: 20px;
        letter-spacing: 7px;
        margin-bottom: 35px;
    }
    .text-area p {
        max-width: 96%;
        margin: 0 auto 15px;
    }
    .shop-btn {
        margin: 35px 0 50px;
    }
    .mission-wrapper h3 {
        margin: 40px 0;
    }
    .mission-wrapper p {
        max-width: 65%;
        margin: 0 auto 60px;
    }
    .brand-wrapper h3 {
        margin: 40px 0;
    }
    .brand-wrapper p {
        max-width: 58%;
        margin: 0 auto 40px;
    }
    .brand-btn a {
        padding: 10px 65px;
        letter-spacing: 2px;
    }
    .brand-gallary-two img:first-child {
        margin-right: 12px;
    }
    .brand-section {
        margin-bottom: 80px;
    }
    .footer img {
        width: 12%;
    }
}

    /* 3. end of min width 576
----------------------------------------------------------------------------
============================================================================*/

@media only screen and (min-width: 768px) {
    .about-wraper h2 {
        letter-spacing: 5px;
    }
    .text-area p {
        max-width: 91%;
}

/* 4. end of min width 768
----------------------------------------------------------------------------
============================================================================*/

@media only screen and (min-width: 992px) {
    .brand-top-text h6 {
        max-width: 19%;
    }
    .brand-under-text h6 {
        max-width: 15%;
    }
    .text-area p {
        max-width: 96%;
    }
    .mission-wrapper p {
        max-width: 69%;
    }
    .brand-wrapper p {
        max-width: 72%;
    }
    .brand-gallary-two img:first-child {
        margin-right: 25px;
    }
}

/* 5. end of min width 992
----------------------------------------------------------------------------
============================================================================*/

@media only screen and (min-width: 1200px) {
    .brand-top-text h6 {
        max-width: 16%;
    }
    .brand-under-text h6 {
        max-width: 13%;
    }
    .text-area p {
        max-width: 80%;
    }
    .mission-wrapper p {
        max-width: 68%;
    }
    .brand-wrapper p {
        max-width: 66%;
    }
}

/* 6. end of min width 1200
----------------------------------------------------------------------------
============================================================================*/

